* {
  margin: 0 auto;
  box-sizing: border-box;
}

.input {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.input > input {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.input > button {
  margin-top: 20px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.user-style {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: buttonface;
  border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}